@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: $clr-bg;
  font-family: "Balsamiq Sans", cursive;
  color: $clr-text;
  gap: 5%;

  h1 {
    font-size: 3em;
    font-style: italic;
    color: $clr-highlight;
  }

  a {
    text-decoration: none;
    transition: all 0.5s ease;
  }

  a:visited {
    color: $clr-highlight;
  }

  a:hover {
    color: $clr-highlight;
    border-bottom: 1px solid $clr-highlight;
  }
}
