@use "../abstracts/" as *;

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150vh;
  width: 100%;

  .experience-animated {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5%;
    height: 100%;
    width: 80%;
    box-shadow: 0 0 10px 5px $clr-text;
    margin-bottom: 5%;
    // transition: all 1s ease;

    // &:hover {
    //   transform: scale(1.05);
    // box-shadow: 0 0 15px 10px $clr-text;
    // }

    .experience-card {
      display: grid;
      place-items: center;
      grid-template-rows: repeat(3, 33%);
      height: 100%;
      width: 100%;

      .experience-workplace {
        h2 {
          margin: 0.5em 0;
          border-bottom: 2px solid $clr-text;
        }
      }

      .experience-about {
        color: $clr-text;
      }

      .experience-time {
        margin-top: 5%;
        padding: 3%;
        border: 1px solid $clr-highlight;
        border-radius: 50%;
        background-color: $clr-highlight;
        box-shadow: 0 5px 5px 1px $clr-text;
      }
    }
  }
}
