@use "../abstracts" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;

  ::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.35;
  }

  h1 {
    font-size: 7vw;
    line-height: 2;

    span {
      display: block;
      font-size: 20vw;
    }
  }
}

// MEDIA QUERIES

@media (min-width: $breakpoint-m) {
  .hero {
    h1 {
      font-size: 3vw;

      span {
        font-size: 13vw;
      }
    }
  }
}
