@use "../abstracts" as *;

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  // transition: all 0.5s ease;

  // &:hover {
  // box-shadow: 0 0 15px 15px $clr-text;
  // }
}

.portfolio-animated {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 80vw;

  .portfolio-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;

    img {
      margin-top: 15%;
      height: 100%;
      width: auto;
      border: 5px inset $clr-text;
      box-shadow: -10px 10px 15px 0px $clr-text;
    }
  }

  .portfolio-content {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: justify;

    .portfolio-about_me {
      display: flex;
      height: 80%;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: justify;
      padding: 2.5%;
    }
  }
}
