@use "../abstracts" as *;

body > .portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: lightpink;
}

.portfolio > .portfolio-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;

  img {
    margin-top: 15%;
    height: 100%;
    width: auto;
    border: 5px solid $clr-darker-bg;
    box-shadow: 0 0 20px 10px $clr-darker-bg;
    border-radius: 20%;
  }
}

.portfolio > .portfolio-content {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  // padding: 2.5%;

  .about_me {
    display: flex;
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    // gap: 25%;
    padding: 2.5%;
  }
}
