@use "../abstracts" as *;

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .projects-container {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
    width: 80%;

    .projects-content {
      display: none;
    }

    .projects-content_mobile {
      display: grid;
      grid-template-rows: repeat(3, 33%);
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .projects-content_mobile > * {
      display: flex;
      flex-direction: column;
      gap: 5%;
      width: 100%;
      height: 75%;
      align-items: center;
      justify-content: space-between;

      a {
        border-bottom: 1px solid $clr-text;
      }
    }
  }
}

// MEDIA QUERIES

@media (min-width: $breakpoint-m) {
  .projects {
    .projects-container {
      .projects-content_mobile > * {
        height: 50%;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .projects {
    height: 300vh;

    .projects-container {
      .projects-content_mobile {
        display: none;
      }
    }

    .projects-container {
      display: grid;
      grid-template-rows: 10% 90%;
      height: 100%;
      width: 80%;

      .projects-title {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      .projects-content_mobile {
        display: none;
      }

      .projects-content {
        display: grid;
        grid-template-rows: repeat(3, 33%);
        gap: 5%;
        height: 80%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .projects-first_project {
          display: flex;
          height: 100%;
          width: 80vw;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;

          iframe {
            z-index: 1;
          }

          .projects-project_name {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: $clr-bg;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.75);
            transition: all 0.5s ease;
            z-index: 2;
          }
        }

        .projects-first_project:hover {
          .projects-project_name {
            opacity: 0;
            z-index: 0;
          }
        }

        .projects-second_project {
          display: flex;
          height: 100%;
          width: 80vw;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;

          iframe {
            z-index: 1;
          }

          .projects-project_name {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: $clr-bg;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.75);
            transition: all 0.5s ease;
            z-index: 2;
          }
        }

        .projects-second_project:hover {
          .projects-project_name {
            opacity: 0;
            z-index: 0;
          }
        }

        .projects-third_project {
          display: flex;
          height: 100%;
          width: 80vw;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;

          iframe {
            z-index: 1;
          }

          .projects-project_name {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: $clr-bg;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.75);
            transition: all 0.5s ease;
            z-index: 2;
          }
        }

        .projects-third_project:hover {
          .projects-project_name {
            opacity: 0;
            z-index: 0;
          }
        }
      }
    }
  }
}
